
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ONDE SÃO JUDAS PERDEU A BOTA<br />
    Nº 8457<br />
    <abbr title="TELEFONE"></abbr>
    481.299.5711
</address>

<address>
    <strong>Supporte:</strong>   <a href="cletche92@hotmail.com">cletche92@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="cletche1991@gmail.com">cletche1991@gmail.com</a>
</address>